.rp-preview--iframe-follow {
    flex-direction: column !important;
}
/*代码区域*/
.rp-preview--iframe-follow__code .language-vue pre.css-variables{
    max-height: 500px !important;
    overflow: auto !important;
}

.rp-preview--iframe-follow__device {
    max-width: 100%;
}

.rp-preview--iframe-follow__device iframe {
    width: 100%;
    min-height: 300px;
    max-height: 700px;
    overflow: auto;
}